<section class="phx-hero">
  <h1><%= UnibuilderWeb.PageController.get_title(@placeholder) %></h1>
</section>

<form>
  <label for="url">Enter repository URL here:</label>
  <input type="text" id="url" name="url" value=<%= @placeholder %>>
  <input type="submit" value="Build">
</form>